<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <% @list1.each do |list1| %>
                                <div class="well well-sm">
                                    <%= list1.test_name %>
                                </div> <br />
                            <% end %>
            
        <div class="well">
        
             <% @list2.each do |list2| %>
                                <div class="well well-sm">
                                    <%= list2.q %>
                                </div> <br />
                            <% end %>
        </div><br />
        
        
        <div class="well">
            <% @list3.each do |list3| %>
                <div class="well well-sm">
                    <%= list3.answer %>
                </div> <br />
            <% end %>
        </div>
        
    </div>
</div>