<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <% @cur_test.each do |test| %>
            <div class="well well-sm">
                <%= test.test_name %>
            </div>
        <% end %>
        
        <div id="answers_all"><%= render('answers_all')%></div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>

    function(){
        
       $('.ans').click(function() {
    $(this).toggleClass('ans_selected');
});
    });


</script>