<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well">
            <h2 class="text-center">Please select test mode</h1> <br />
            <h4 class="text-center">Your role is a <%= @role.name %></h3> <br />

            <div class="row">
                <div class="">
                    <div class="form-group">
                        <% if current_user %>
                            <% @list1.each do |list| %>
                                <div class="well well-sm desk-list">
                                    <%= list.test_name %>
                                    <%= link_to 'Do It', user_test_do_path(test_id: list.id), class: "btn #{list.test_type} btn-float-r" %>
                                </div> <br />
                            <% end %>
                        <% else %>
                            No tests for you are aviliable.
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>

