<div class="row">
            
            <div class="jumbotron text-center">
                <h1>Welcome to Meds Service</h1>
                <h3>This is the site where medical staff can check their knowledge.</h3>
            </div>
</div>    

<div class="row">
    <div class="col-md-6">
        <div class="well text-center">
            <h2 class="text-center">Free Membership</h2>
            <h4>Sign up to get access to the tests.</h4>
            <%= link_to 'Sign Up Free', new_user_registration_path(role: @student_role.id), class: 'btn btn-success btn-lg btn-block', method: :get %>
        </div>
    </div>
    
</div>