@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.navbar {
 background-color: #630038;   
}
.navbar-nav > li > a {
    color: #E6E6E6 !important;
}
.navbar-nav > li > a:hover {
    color: #939393 !important;
}
.navbar-brand {
    color: #E6E6E6 !important;
}
.navbar-brand:hover {
    color: #939393 !important;
}

.butt-exi {
    margin-left: 30px;
}

.alert-notice {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.btn-float-r {
    float: right;
    margin: -7px;
}

.EXAM {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.EXAM:hover {
    color: #fff;
    background-color: #FF9E02;
    border-color: #C77B00;
}

.TRAINING {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.TRAINING:hover {
    color: #fff;
    background-color: #3CB2C2;
    border-color: #028DA0;
}

.desk-list {
    font-weight: bolder;
    background-color: #ECECEC;
}

//body {
//    background: #83F42D; /* fallback for old browsers */
//    background: -webkit-gradient(linear, 0 0, 100% 0, from(#CAFA2E), to(#83F42D));
//    background: -webkit-linear-gradient(to left, #CAFA2E, #83F42D);
//    background: -moz-linear-gradient(to left, #CAFA2E, #83F42D);
//    background: -o-linear-gradient(to left, #CAFA2E, #83F42D);
//    background: linear-gradient(to left, #CAFA2E, #83F42D); /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
//}